@use '../../styles/utils' as *;

$button-primary-font-color: #fff;
$button-primary-background-color: #000027;
$button-filter-background-color: #eab308;
$button-filter-font-color: #000;

%button-active-transition {
  transition: background-color 150ms;
}

.button-component {
  font-size: 14px;
  border: none;
  outline: none;
  border-radius: 7px;
  cursor: pointer;

  &--primary {
    background-color: $button-primary-background-color;
    color: $button-primary-font-color;
    padding: space(2) space(12);

    &:active {
      background-color: lighten($button-primary-background-color, 6%);
      @extend %button-active-transition;
    }
  }

  &--filter {
    background-color: $button-filter-background-color;
    color: $button-filter-font-color;
    padding: space(2) space(4);
    border-radius: 5px;
  }

  &--small-filter {
    background-color: $button-filter-background-color;
    color: $button-filter-font-color;
    padding: space(1) space(1.5);
    border-radius: 5px;
  }

  &--selected {
    background-color: $button-primary-background-color;
    color: $button-primary-font-color;
  }
}
