@use '../../sass/utils' as *;
@use '../../sass/variables' as *;

$admin-wrapper-backgroud-color: #f1f1f1;
$name-font-color: #1f2937;
$email-font-color: #374151;

.dashboard-page {
  max-width: 80%;
  margin: 0 auto;
  padding: space(30) 0;
  height: fit-content;

  @media only screen and (min-width: $laptop-large-media-query) {
    width: 80%;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: $admin-wrapper-backgroud-color;
    width: 100%;
    height: space(40);
  }

  &__cards-wrapper {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: space(10);

    @media only screen and (min-width: $laptop-large-media-query) {
      flex-direction: row;
      gap: 0;
      max-width: 1100px;
      width: 100%;
      margin: 0 auto;
      justify-content: space-between;
    }
  }

  &__filter-wrapper {
    margin-top: space(1.5);
    display: flex;
    justify-content: space-between;
  }
}
