@use '../../sass/utils' as *;
@use '../../sass/variables' as *;

$h1-font-color: #1f2937;
$h2-font-color: #374151;

.register-person-page {
  width: fit-content;
  max-width: 80%;
  margin: space(20) auto;

  &__h1 {
    color: $h1-font-color;
    margin-bottom: space(15);
    text-align: center;

    font-size: 20px;

    @media only screen and (min-width: $tablet-media-query) {
      font-size: 1.75rem;
    }

    @media only screen and (min-width: $laptop-media-query) {
      font-size: 2rem;
    }
  }

  &__h2 {
    color: $h2-font-color;
    margin-bottom: space(7.5);
    font-size: 16px;

    @media only screen and (min-width: $tablet-media-query) {
      font-size: 1.5rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    max-width: 800px;
  }

  &__personal-data-container {
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: $laptop-media-query) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      column-gap: space(10);
      margin-bottom: space(10);
    }
  }

  &__address-data-container {
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: $laptop-media-query) {
      display: grid;
      grid:
        'cep cep cep cep' 1fr
        'street street street number' 1fr
        'state state city city' 1fr
        'district district complement complement' 1fr
        / 1fr 1fr 1fr 1fr;
      column-gap: space(10);

      [data-input-name='cep'] {
        grid-area: cep;
      }

      [data-input-name='street'] {
        grid-area: street;
      }

      [data-input-name='number'] {
        grid-area: number;
      }

      [data-input-name='state'] {
        grid-area: state;
      }

      [data-input-name='city'] {
        grid-area: city;
      }

      [data-input-name='district'] {
        grid-area: district;
      }

      [data-input-name='complement'] {
        grid-area: complement;
      }
    }
  }

  & .button-component {
    margin: space(8) 0;
    align-self: center;
  }
}
